@page "/Basedashboard"
@attribute [Authorize(Policy = Permissions.BaseDashboards.View)]
@inject Microsoft.Extensions.Localization.IStringLocalizer<BaseDashboards> _localizer
@using Forces.Application.Enums;
@using Forces.Client.Pages.Content;
@using Forces.Shared.Constants.Permission;
@using Microsoft.AspNetCore.Authorization;
@using MudBlazor;
@using static System.Net.Mime.MediaTypeNames;
@inject IJSRuntime JSRuntime

@code {

    private async Task LogToConsole()
    {
        await JSRuntime.InvokeVoidAsync("console.log", _BasesList);
    }

    public async Task GetBaseData()
    {
        var BaseId = converterForBases(SelectedBase);
        var response = await BaseDashboardManager.GetDataAsync((int)BaseId);
        if (response.Succeeded)
        {
            BasesSectionsCount = response.Data.BasesSectionsCount;
            HouseCount = response.Data.HouseCount;
            RoomCount = response.Data.RoomCount;
            PersonCount = response.Data.PersonCount;
            BuildingCount = response.Data.BuildingCount;
            InventoryCount = response.Data.InventoryCount;
            InventoryItemCount = response.Data.InventoryItemCount;
            OfficeCount = response.Data.OfficeCount;


        }
        else
        {
            foreach (var message in response.Messages)
            {
                _snackBar.Add(message, (MudBlazor.Severity)Severity.Error);
            }
        }
    }
}
<HeroTitle Title="@_localizer["Dashboard"]" Description="@_localizer["Realtime Updates & Insights"]" />
@if (!_loaded)
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else
{
    @*@foreach (var item in Enum.GetValues(typeof(UserType)))
        {
            <h1>(@item.ToString() =>@((int)item) )</h1>
        }
        <h1>@userType.ToString()</h1>*@
    <MudItem xs="12" md="6">
        <MudSelect Label="Select Base Name" @onchange="GetBaseData" @bind-Value="SelectedBase">
            @if (_BasesList != null)
            {
                @for (int i = 0; i < _BasesList.Count; i++)
                {
                    <MudSelectItem Value="@_BasesList[i].BaseName"></MudSelectItem>
                }
            }
        </MudSelect>
    </MudItem>

    <MudGrid>


        <MudItem xs="12" sm="6" md="3">
            <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                <MudIcon Icon="@Icons.Filled.Castle" Color="Color.Primary" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
                <div>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">@_localizer["Inventories"]</MudText>
                    <MudText Typo="Typo.h5">@InventoryCount</MudText>
                </div>
            </MudPaper>
        </MudItem>


        <MudItem xs="12" sm="6" md="3">
            <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                <MudIcon Icon="@Icons.Filled.AccountBalance" Color="Color.Secondary" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
                <div>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">@_localizer["Bases Sections"]</MudText>
                    <MudText @bind-Value="@BasesSectionsCount" Typo="Typo.h5">@BasesSectionsCount</MudText>
                </div>
            </MudPaper>
        </MudItem>


        <MudItem xs="12" sm="6" md="3">
            <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                <MudIcon Icon="@Icons.Filled.AccountTree" Color="Color.Secondary" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
                <div>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">@_localizer["Inventory Items"]</MudText>
                    <MudText @bind-Value="@InventoryItemCount" Typo="Typo.h5">@InventoryItemCount</MudText>
                </div>
            </MudPaper>
        </MudItem>



        <MudItem xs="12" sm="6" md="3">
            <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                <MudIcon Icon="@Icons.Material.Filled.AttachFile" Color="Color.Primary" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
                <div>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">@_localizer["Offices"]</MudText>
                    <MudText @bind-Value="@OfficeCount" Typo="Typo.h5">@OfficeCount</MudText>
                </div>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="3">
            <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                <MudIcon Icon="@Icons.Material.Filled.FileCopy" Color="Color.Secondary" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
                <div>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">@_localizer["Buildings"]</MudText>
                    <MudText @bind-Value="@BuildingCount" Typo="Typo.h5">@BuildingCount</MudText>
                </div>
            </MudPaper>
        </MudItem>
        @*<MudItem xs="12" sm="6" md="3">
    <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
    <MudIcon Icon="@Icons.Material.Filled.Assignment" Color="Color.Error" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
    <div>
    <MudText Typo="Typo.body1" Class="mud-text-secondary mb-n1">@_localizer["Document Extended Attributes"]</MudText>
    <MudText @bind-Value="@DocumentExtendedAttributeCount" Typo="Typo.h5">@DocumentExtendedAttributeCount</MudText>
    </div>
    </MudPaper>
    </MudItem>*@
        <MudItem xs="12" sm="6" md="3">
            <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                <MudIcon Icon="@Icons.Material.Filled.Face" Color="Color.Success" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
                <div>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">@_localizer["Persons"]</MudText>
                    <MudText Typo="Typo.h5">@PersonCount</MudText>
                </div>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="3">
            <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                <MudIcon Icon="@Icons.Material.Filled.Groups" Color="Color.Warning" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
                <div>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">@_localizer["Rooms"]</MudText>
                    <MudText Typo="Typo.h5">@RoomCount</MudText>
                </div>
            </MudPaper>
        </MudItem>

        <MudItem xs="12" sm="6" md="3">
            <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                <MudIcon Icon="@Icons.Filled.Airlines" Color="Color.Warning" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
                <div>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">@_localizer["Houses"]</MudText>
                    <MudText Typo="Typo.h5">@HouseCount</MudText>
                </div>
            </MudPaper>
        </MudItem>



    </MudGrid>
    <MudGrid>
        <MudItem xs="12" sm="8">
            <MudPaper Elevation="25" Class="pa-4" Style="height:400px;">
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="4">
            <MudPaper Elevation="25" Class="pa-4" Style="height:400px;">
                @_localizer["Charts comming soon ish..."]
            </MudPaper>
        </MudItem>
    </MudGrid>
}