@page "/Inventorydashboard"
@attribute [Authorize(Policy = Permissions.InventoryDashboards.View)]

@inject Microsoft.Extensions.Localization.IStringLocalizer<InventoryDashboards> _localizer
@using Forces.Application.Enums;
@using Forces.Client.Pages.Content;
@using Forces.Shared.Constants.Permission;
@using Microsoft.AspNetCore.Authorization;
@using MudBlazor;
@using static System.Net.Mime.MediaTypeNames;
@inject IJSRuntime JSRuntime

@code {
    private async Task LogToConsole()
    {
        await JSRuntime.InvokeVoidAsync("console.log", _InventorysList);
    }

    public async Task GetInventoryData()
    {
        int invId =(int)converterForInventorys(SelectedInventory);
        response = await InventoryDashboardManager.GetDataAsync(invId);
        if (response.Succeeded)
        {
            InventoryName = response.Data.InventoryName;
            HouseName = response.Data.HouseName;
            RoomNumber = response.Data.RoomNumber;
            BaseName = response.Data.BaseName;
            BaseSectionName = response.Data.BaseSectionName;
            BuildingName = response.Data.BuildingName;
            Item = response.Data.Item.Distinct().ToList();
            Person = response.Data.Persons;

        }
        else
        {
            foreach (var message in response.Messages)
            {
                _snackBar.Add(message, (MudBlazor.Severity)Severity.Error);
            }
        }
    }
}
<HeroTitle Title="@_localizer["Dashboard"]" Description="@_localizer["Realtime Updates & Insights"]" />
@if (!_loaded)
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else
{
    <MudGrid Style="margin-bottom:20px">

        <MudItem xs="12" md="4">
            <MudSelect class="custom-select" Label="Select Inventory Name" @bind-Value="SelectedInventory">
                @if (_InventorysList != null)
                {
                    @for (int i = 0; i < _InventorysList.Count; i++)
                    {
                        <MudSelectItem Value="@_InventorysList[i].Name"></MudSelectItem>
                    }
                }
            </MudSelect>
        </MudItem>
        @if (SelectedInventory != null && SelectedInventory != "")
        {
            <MudItem xs="2" md="2" Style="margin-top:5px">
                <MudButton class="custom-button" @onclick="GetInventoryData">Get Data</MudButton>
            </MudItem>


        }
    </MudGrid>

    <MudGrid>

        @if (@BaseName != null && BaseName != "")
        {
            <MudItem xs="12" sm="6" md="3">
                <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                    <MudIcon Icon="@Icons.Filled.Castle" Color="Color.Primary" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
                    <div>
                        <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">@_localizer["Base Name"]</MudText>
                        <MudText Typo="Typo.h5">@BaseName</MudText>
                    </div>
                </MudPaper>
            </MudItem>
            
        }

        @if (@BaseSectionName != null && BaseSectionName != "")
        {
            <MudItem xs="12" sm="6" md="3">
                <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                <MudIcon Icon="@Icons.Filled.AccountBalance" Color="Color.Secondary" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
                <div>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">@_localizer["Section Name"]</MudText>
                    <MudText Typo="Typo.h5">@BaseSectionName</MudText>
                </div>
            </MudPaper>
        </MudItem>
        }

        @if (@BuildingName != null && BuildingName!="")
        {
            <MudItem xs="12" sm="6" md="3">
                <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                <MudIcon Icon="@Icons.Filled.AccountTree" Color="Color.Secondary" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
                <div>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">@_localizer["Building Name"]</MudText>
                    <MudText Typo="Typo.h5">@BuildingName</MudText>
                </div>
            </MudPaper>
        </MudItem>
        }

        @if (@RoomNumber != null && RoomNumber != 0)
        {
            <MudItem xs="12" sm="6" md="3">
                <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                <MudIcon Icon="@Icons.Material.Filled.AttachFile" Color="Color.Primary" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
                <div>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">@_localizer["Room Number"]</MudText>
                    <MudText Typo="Typo.h5">@RoomNumber</MudText>
                </div>
            </MudPaper>
        </MudItem>
        }

        @if (@HouseName != null && HouseName != "")
        {
        <MudItem xs="12" sm="6" md="3">
            <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                <MudIcon Icon="@Icons.Material.Filled.FileCopy" Color="Color.Secondary" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
                <div>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">@_localizer["House Name"]</MudText>
                    <MudText Typo="Typo.h5">@HouseName</MudText>
                </div>
            </MudPaper>
        </MudItem>
        }

        @if (@InventoryName != null)
        {
            <MudItem xs="12" sm="6" md="3">
                <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                <MudIcon Icon="@Icons.Material.Filled.Face" Color="Color.Success" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
                <div>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">@_localizer["Inventory Name"]</MudText>
                    <MudText Typo="Typo.h5">@InventoryName</MudText>
                </div>
            </MudPaper>
        </MudItem>
        }



    </MudGrid>



    

    <MudGrid>

        @if (Item != null && Item.Count != 0)
        {
            <MudItem xs="12" class="text-center">
                <MudText Typo="Typo.h4">Items</MudText>
            </MudItem>

            @for (int i = 0; i < Item.Count; i++)
            {
                var currentItem = Item[i];
                int mycount = 0;
                <MudItem xs="6" sm="12" md="4">
                    <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:auto;">
                        <MudIcon Icon="@Icons.Filled.Details" Color="Color.Secondary" Class="mx-4" Style="width:40px; height:40px;"></MudIcon>
                        <div>
                            <MudText>Item Name: @currentItem.ItemName</MudText>
                            <MudText>Item Code: @currentItem.ItemCode</MudText>
                            <MudText>Item Class: @currentItem.ItemClass</MudText>
                            
                            @foreach (var serial in currentItem.ItemSerial)
                            {
                                var thiscount = ++mycount;
                                <MudText>Item Serial @thiscount: @serial</MudText>
                            }

                            <MudText>Item NSN: @currentItem.ItemNSN</MudText>
                            <MudText>Quantity: @currentItem.Quantity</MudText>
                        </div>
                    </MudPaper>

                </MudItem>
            }
        }


        
        

        



    </MudGrid>


     <MudGrid>

        @if (Person != null && Person.Count != 0)
        {
            <MudItem xs="12" class="text-center">
                <MudText Typo="Typo.h4">Persons</MudText>
            </MudItem>

            @for (int i = 0; i < Person.Count; i++)
            {
                var currentItem = Person[i];

                <MudItem xs="6" sm="12" md="4">
                    <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:auto;">
                        <MudIcon Icon="@Icons.Filled.Person" Color="Color.Secondary" Class="mx-4" Style="width:40px; height:40px;"></MudIcon>
                        <div>
@*                            <MudText Typo="Typo.h4" Style="margin-bottom:50px;" Class="mud-text-secondary mb-n1">@_localizer["Person Details"]</MudText>
*@                    
                            <MudText >Person Name : @currentItem.Name</MudText>

                            <MudText >Person NationalNumber : @currentItem.NationalNumber</MudText>

                            <MudText >Person Section : @currentItem.Section</MudText>

                            <MudText >Person Phone : @currentItem.Phone</MudText>

                            <MudText >Person OfficePhone : @currentItem.OfficePhone</MudText>

                            <MudText >Person Rank : @currentItem.Rank</MudText>

                            <MudText >Person BuildingName : @currentItem.BuildingName</MudText>

                            <MudText >Person RoomNumber : @currentItem.RoomNumber</MudText>
                        </div>
                    </MudPaper>
                </MudItem>
            }
        }


        
        

        



    </MudGrid>
}
<style>
    
    .custom-button {
        background-color: cornflowerblue;
        height: 60px; 
        width: 100%;
        color:white;
    }

    .custom-select {
        
        width: 100%;
    }


    .mud-select-item {
        background-color: #f5f5f5;
        color: #333;
        padding: 8px 12px;
    }

    .mud-popover-paper {
        border: 1px solid #ccc;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        background-color: #fff;
    }
</style>